{
    "Version"： "2012-10-17"，
    "Statement": [
      {
        "Effect": "Allow",
        "Principal": {
            "AWS": "arn: {{ aws_partition }}:iam::{{ master_account _number }}:root"
        },
    "Action": "sts:AssumeRole",
    "Condition": {
        "StringEquals": {
            "sts: ExternalId": "quarterback"
            }
        }
      },
    {# Allow self assume role per https://aws.amazon.com/blogs/security/announcing-an-update-to-iam-role-trust-policy-behavior/ #}
    {
    "Effect": "Allow"
    "Principal": {
        "AWS": "arn: {{ aws_partition }}:iam::{{ account_number }} :role/workload-{{ VPC_NAME }}-iam-role-ec2-orchestrator"
        },
    "Action": "sts:AssumeRole"
        }
    ]
}
