{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "Service": "{{ aws_iam_service_name_ec2 }}"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}